albumentations>=1.0.3
arabic-reshaper
blend-modes
easydict
efficientnet_pytorch
fonttools
imgaug==0.4.0
lmdb
lxml
matplotlib
numpy
opencv-contrib-python==4.4.0.46
opencv-python
openpyxl
pandas
Pillow>=8.2.0
premailer
progressbar~=2.5
pyclipper
pygame
python-bidi
python-Levenshtein
pytweening
pyyaml
regex
scikit-image==0.17.2
scikit-learn
scipy
seaborn>=0.11.0
shapely
tensorboard>=2.4.1
thop
torch>=1.7.0
torchvision>=0.8.1
tqdm
visualdl
